.subheader {
  width: 100%;
  padding: 0;
  z-index: 40;
  height: 40px;
  margin: 0;
  background: #fff;
  position: absolute;
  display: none;
  font-size: 12px;
  align-items: center;

  > .row {
    flex: 1;
  }
  .subheader-full-width-on & {
  	&>.row {
  		max-width: none;
  	}
  }
	.thb-full-menu>li+li {
		margin-left: 20px;
	}
  @include min-break($break-small) {
    display: flex;
    + .header:not(.fixed) {
      top: 40px;
    }
    .admin-bar & {
    	top: 46px;

    	 + .header:not(.fixed) {
    	 	  top: 86px;
    	 	}
    	@media screen and (min-width: 783px){
    	  top: 32px;
    	  + .header:not(.fixed) {
    	  	  top: 72px;
    	  	}
    	}
    }
  }
  .subheader-right {
    text-align: right;

    .social {
      display: inline-block;
      font-size: 16px;
      width: 16px;
      text-align: center;
      + .social {
        margin-left: 8px;

        .rtl & {
          margin-left: 0;
          margin-right: 8px;
        }
      }
    }
    .rtl & {
      text-align: left;
    }
  }
  &.style1,
  &.style3 {
    .subheader-left {
      * {
        margin: 0;
      }
    }
  }
  .subheader-left {
    * {
      font-size: inherit;
      line-height: 1;
    }
    i.fa {
      margin-right: 5px;
    }
  }
  &.style3 {
    .subheader-right {
      * {
        font-size: inherit;
        line-height: 1;
      }
      i.fa {
        margin-right: 5px;
      }
      .thb-full-menu {
        justify-content: flex-end;
      }
    }
  }
  &.dark {
    background: $color1;
    color: #fff;

    a {
      color: #fff;
    }
		.thb-full-menu.thb-standard>li.current-menu-item:not(.has-hash)>a {
			color: #fff;
		}
  }
}